@import "../../sass/_variables";
@import "../../sass/mixins";


.navbar{
    display: flex;
    justify-content: space-evenly;
    
    background-color: $Teal-and-Gray-5-hex;

    a{
       height: 10vh;
        text-decoration: none;
        font-size: 1rem;
        color: $Teal-and-Gray-3-hex;
        padding: 1.3rem;

        &:hover{
            background-color: $Teal-and-Gray-1-hex;
        }
    }

    }

    @include media-xsm{
        .navbar{
            flex-direction: column;
            text-align: center;
        }
    }

    @include media-sm{
        .navbar{
            flex-direction: row;
        }
    }
    